* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(30, 31, 41);
  padding-top: 5px;
}

.title-div {
  display: flex;
  height: fit-content;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  color: #a1f5ba;
}

.vitals-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.stat-card {
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  overflow: hidden;
  color: #62b3d3;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 2px 2px 2px #155f55;
  border-radius: 10px;
}

.stat-value {
  font-size: clamp(1.5rem, 8vw, 3rem);
  width: 100%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: aquamarine;
  margin: 10px 0;
}

.status-warn {
  color: #ff4d4d !important;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}