body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1a1a2e;
  padding-top: 5px;
}

.title-div {
  display: flex;
  height: fit-content;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  color: aquamarine;
}

.vitals-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto, minmax(200px, 1fr));
  grid-template-rows: 1fr
}

#memory {
  color: #2c637c;
  font-size: medium;
  height: fit-content;
}

#memory-value {
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(0, 128, 85);
}

#uptime {
  color: #2c637c;
  font-size: small;
  height: fit-content;
}

#uptime-value {
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(0, 128, 85);
}

#disk {
  color: #2c637c;
  font-size: medium;
  height: fit-content;
}

#disk-value {
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(0, 128, 85);
}

a {
  color: #00B7FF;
}
