* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(30, 31, 41);
  padding-top: 5px;
}

.title-div {
  display: flex;
  height: fit-content;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  color: #a1f5ba;
}

.menu-toggle {
  display: none;
  padding: 10px 20px;
  margin: 10px;
  background: #2d5772;
  color: white;
  border: 0.5px solid #62b3d3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.layout-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20xp;
  padding: 20px 20px 20px 5px;
}

.sidebar-header {
  padding: 5px 5px 5px 0px;
  color: #a1f5ba;
}

.sidebar {
  width: 25%;
  height: 100vh;
  margin-top: 20px;
  padding: 10px;
  position: sticky;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #0a1036;
  border: 1px solid rgba(255,255,255,0.1);
}

.services-list {
  padding: 10px;
}

.service-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

.service-list-item {
  box-shadow: 0 0 5px 5px #417a7a;
  border-radius: 8px;
  padding: 3px;
  margin: 20px
}

.service-name {
  font: 1.2rem "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #62b3d3;
  margin-bottom: 5px;
  margin-top: 5px;
}

.vitals-container {
  display: grid;
  width: 100vw;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.stat-card {
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  overflow: hidden;
  color: #62b3d3;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 2px 2px 2px #0a1036;
  border-radius: 10px;
}

.stat-value {
  font-size: clamp(1.5rem, 8vw, 3rem);
  width: 100%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: aquamarine;
  margin: 10px 0;
}

.status-warn {
  color: #ff4d4d !important;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}

.service-warn {
  box-shadow: 0 0 5px 5px #f56969;
}

.status-button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green
}

.status-button-warn {
  background-color: red;
}

@media (max-width: 768px) {

  .layout-wrapper {
    flex-direction: column;
  }

  .vitals-container {
        grid-template-columns: 1fr; 
    }

  .stat-card {
  min-height: 100px;
  padding: 0.5rem;
  font-size: 0.8rem;
  }

  .stat-value {
  font-size: clamp(0.5rem, 4vw, 2rem);
  }

  .sidebar {
    width: 100%;
    position: static;
    display: none;
  }

  .sidebar.is-active {
    display: block;
  }
  
  .menu-toggle {
        display: block;
    }
}