body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #131329;
  padding-top: 5px;
}

.title-div {
  display: flex;
  height: fit-content;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  color: #279eb3;
}

.vitals-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.stat-card {
  color: #678ee4;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  height: fit-content;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 2px 2px 2px #279eb3;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
  
}

.stat-value {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: aquamarine;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px
}

a {
  color: #00B7FF;
}
